
$red : hsl(0, 100%, 67%);
$yellow: hsl(39, 100%, 56%);
$green: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);
$white: hsl(0, 0%, 100%);
$paleblue: hsl(221, 100%, 96%);
$lavender: hsl(241, 100%, 89%);
$darkblue: hsl(224, 30%, 27%);


//Gradients
$slateBlue: hsl(252, 100%, 67%);
$royalBlue: hsl(241, 81%, 54%);
$violetblue: hsla(256, 72%, 46%, 1);
$persianblue: hsla(241, 72%, 46%, 0);

$fuente: 'Hanken Grotesk', sans-serif;

